export(copy.feat)
export(read.feat)
export(feat)
export(as.pointer.feat)
export(print.feat)
S3method(print, feat)
export(write.feat)
export(nrow.feat)
S3method(nrow, feat)
export(ncol.feat)
S3method(ncol, feat)
export(summary.feat)
S3method(summary, feat)
export(as.data.frame.feat)
S3method(as.data.frame, feat)
export(dim.feat)
S3method(dim, feat)
S3method(range, feat)
export(range.feat)
S3method(plot, feat)
export(plot.feat)
export(plot.gene)
export(density.feat)
S3method(hist, feat)
export(hist.feat)
export(overlap.feat)
export(inverse.feat)
export(coverage.feat)
export(add.UTRs.feat)
export(add.introns.feat)
export(add.signals.feat)
export(fix.start.stop.feat)
export(rbind.feat)
export(split.feat)
export(sort.feat)
S3method(sort, feat)
export(composition.feat)
export(enrichment.feat)
S3method(unique, feat)
export(unique.feat)
export(tagval.feat)
export(tagval)
export(hmm)
export(read.hmm)
export(write.hmm)
export(nstate.hmm)
export(score.hmm)
export(copy.msa)
export(is.msa)
useDynLib(rphast)
export(msa)
export(ncol.msa)
S3method(ncol, msa)
S3method(dim, msa)
export(dim.msa)
export(ninf.msa)
export(nrow.msa)
S3method(nrow, msa)
export(is.format.msa)
export(offset.msa)
export(alphabet.msa)
export(is.ordered.msa)
S3method(is.ordered, msa)
export(names.msa)
S3method(names, msa)
export(from.pointer.msa)
export(as.pointer.msa)
export(guess.format.msa)
export(write.msa)
export(summary.msa)
S3method(summary, msa)
export(print.msa)
S3method(print, msa)
export(read.msa)
export(complement)
export(reverse.complement.msa)
export(sub.msa)
export(strip.gaps.msa)
S3method("[", msa)
export("[.msa")
export(postprob.msa)
export(expected.subs.msa)
export(total.expected.subs.msa)
export(likelihood.msa)
export(simulate.msa)
importFrom(stats, simulate)
S3method(simulate, msa)
S3method(sample, msa)
export(sample.msa)
export(get4d.msa)
export(extract.feature.msa)
export(concat.msa)
export(split.by.feature.msa)
export(informative.regions.msa)
export(codon.clean.msa)
export(state.freq.msa)
export(base.freq.msa)
export(gc.content.msa)
export(pairwise.diff.msa)
export(plot.msa)
export(phastCons)
export(phyloFit)
export(phyloP)
export(phyloP.prior)
export(phyloP.sph)
export(is.track)
export(range.track)
export(smooth.wig)
export(plot.track)
export(as.track.wig)
export(as.track.msa)
export(as.track.feat)
export(is.tm)
export(read.tm)
export(write.tm)
export(summary.tm)
S3method(summary, tm)
export(as.list.tm)
S3method(as.list, tm)
export(print.tm)
S3method(print, tm)
export(is.subst.mod.tm)
export(subst.mods)
export(tm)
export(bgc.sel.factor)
export(apply.bgc.sel)
export(unapply.bgc.sel)
export(add.alt.mod)
export(set.rate.matrix.tm)
export(get.rate.matrix.params.tm)
export(plot.rate.matrix)
export(plot.tm)
export(plot.altmodel.tm)
export(fix.semicolon.tree)
export(read.newick.tree)
export(numnodes.tree)
export(numleaf.tree)
export(branchlength.tree)
export(depth.tree)
export(prune.tree)
export(name.ancestors)
export(subtree)
export(rescale.tree)
export(rename.tree)
export(label.branches)
export(label.subtree)
export(summary.tree)
